<nav class="bg-white shadow-sm fixed top-0 w-full z-10">
  <div class="container mx-auto px-5 py-4">
    <div class="flex justify-between items-center">
      <div>
        <%= link_to "Hotwire Tutorial", root_path, class: "text-xl font-bold text-gray-800" %>
      </div>
      <div>
        <% if Current.user.present? %>
          <%= Current.user.email_address %>
          <%= button_to "Sign out", session_path, method: :delete, class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-black underline focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        <% else %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
