<%= turbo_frame_tag dom_id(post, :likes) do %>
  <div>
    <%= button_to post_likes_path(post), class: "rounded-md px-4 py-2 bg-blue-100 hover:bg-blue-200 transition-colors duration-200 text-blue-700 font-medium" do %>
      <span>Like (<%= post.likes || 0 %>)</span>
    <% end %>
  </div>
<% end %>
