<% content_for :title, "Posts" %>
<div class="w-full">
  <div class="bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 overflow-hidden my-4 p-6 flex justify-between items-center">
    <h1 class="font-bold text-4xl">Posts</h1>
    <%= link_to "New quote",
              new_post_path,
              class: "rounded-md px-4 py-2 text-white bg-red-600 hover:bg-red-500 transition-colors duration-200 font-medium cursor-pointer",
              data: { turbo_frame: dom_id(@post) } %>
  </div>
  <%= turbo_frame_tag dom_id(@post) %>
  <%= turbo_frame_tag :posts do %>
    <%= render @posts %>
  <% end %>
</div>
